In [2]:
#pykrx 데이터 끌고오기
import pandas as pd
import numpy as np
import FinanceDataReader as fdr

In [3]:
data = pd.read_csv("./데이터/5. label 지정 완료.csv", encoding='cp949')
data

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,산업명,매출액증가율,유형자산증가율,재고자산증가율,...,당좌자산회전률,부가가치,총자본투자효율,설비투자효율,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,label
0,(주)CMG제약,58820,2011-12-01,2001-08-31,NaN,5,의료용 물질 및 의약품 제조업,56.40,-5.90,-1.43,...,1.55,3472.17,12.72,35.86,128.51,19.56,89.82,10.18,-43.44,0.0
1,(주)CMG제약,58820,2012-12-01,2001-08-31,NaN,5,의료용 물질 및 의약품 제조업,-8.43,-4.12,7.73,...,0.57,269.31,0.47,2.89,10.67,1.66,1749.87,-1649.87,-2473.07,0.0
2,(주)CMG제약,58820,2013-12-01,2001-08-31,NaN,5,의료용 물질 및 의약품 제조업,25.51,16.09,56.29,...,0.52,6994.90,12.51,77.91,289.40,34.29,71.28,28.72,4.23,0.0
3,(주)CMG제약,58820,2014-12-01,2001-08-31,NaN,5,의료용 물질 및 의약품 제조업,11.52,74.30,6.37,...,0.80,7061.34,12.16,37.80,132.06,31.04,79.30,20.70,2.24,0.0
4,(주)CMG제약,58820,2015-12-01,2001-08-31,NaN,5,의료용 물질 및 의약품 제조업,18.85,-5.37,11.04,...,1.22,4315.37,7.63,24.21,90.92,15.96,144.10,-44.10,-84.58,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9273,흥구석유(주),24060,2016-12-01,1994-12-07,NaN,5,도매 및 상품 중개업,-7.26,-5.61,52.46,...,2.20,13728.30,10.92,102.82,3801.25,6.86,44.46,55.54,43.99,0.0
9274,흥구석유(주),24060,2017-12-01,1994-12-07,NaN,5,도매 및 상품 중개업,8.12,-0.56,9.41,...,1.78,14659.03,11.36,118.51,5704.66,9.22,43.35,56.65,43.02,0.0
9275,흥구석유(주),24060,2018-12-01,1994-12-07,NaN,5,도매 및 상품 중개업,6.87,-0.36,-46.09,...,1.76,14287.12,10.80,118.81,4046.12,8.82,46.23,53.77,40.99,0.0
9276,흥구석유(주),24060,2019-12-01,1994-12-07,NaN,5,도매 및 상품 중개업,-9.35,-7.00,96.40,...,2.18,11012.82,8.64,92.04,2603.45,5.61,62.14,37.86,27.35,0.0
9277,흥구석유(주),24060,2020-12-01,1994-12-07,NaN,5,도매 및 상품 중개업,-23.78,-13.92,-18.61,...,2.36,13033.30,10.04,97.30,3777.94,6.72,56.12,43.88,34.63,0.0

In [ ]:
# 거래소 코드 6개로 맞춰주기
for i in data.index:
    if len(str(data.loc[i,"거래소코드"])) == 3:
        data.loc[i,"거래소코드"]='000'+str(data.loc[i,"거래소코드"])
    elif len(str(data.loc[i,"거래소코드"])) == 4:
        data.loc[i,"거래소코드"]='00'+str(data.loc[i,"거래소코드"])
    elif len(str(data.loc[i,"거래소코드"])) == 5:
        data.loc[i,"거래소코드"]='0'+str(data.loc[i,"거래소코드"])
    elif len(str(data.loc[i,"거래소코드"])) == 2:
        data.loc[i,"거래소코드"]='0000'+str(data.loc[i,"거래소코드"])

In [ ]:
#거래소 코드 개별로 추출
a =data["거래소코드"].unique()
a = pd.DataFrame(a)
a.columns=["거래소코드"]
len(a)

1399

In [ ]:
b = data[["회사명","거래소코드"]]
d = b.groupby("회사명")["거래소코드"].unique()
d = pd.DataFrame(d)
d

               거래소코드
회사명
(주)CMG제약    [058820]
(주)ES큐브     [050120]
(주)가비아      [079940]
(주)강스템바이오텍  [217730]
(주)강원에너지    [114190]
...              ...
휴림네트웍스(주)   [192410]
휴림로봇(주)     [090710]
휴마시스(주)     [205470]
휴젤(주)       [145020]
흥구석유(주)     [024060]

[1399 rows x 1 columns]

In [ ]:
len(d.loc["(주)CMG제약","거래소코드"])

1

In [ ]:
data[data["회사명"]=="(주)세화피앤씨"]

,회사명,거래소코드,회계년도,상장일,상장폐지일,소속코드,산업명,매출액증가율,유형자산증가율,재고자산증가율,...,당좌자산회전률,부가가치,총자본투자효율,설비투자효율,기계투자효율,부가가치율,노동소득분배율,자본분배율,이윤분배율,label
1990,(주)세화피앤씨,252500,2017-12-01,2016-11-02,NaN,5,화학물질 및 화학제품 제조업; 의약품 제외,12.63,-6.20,8.57,...,4.95,16380.34,22.25,444.38,513.14,13.55,43.33,56.67,33.52,0.0
1991,(주)세화피앤씨,252500,2018-12-01,2016-11-02,NaN,5,화학물질 및 화학제품 제조업; 의약품 제외,-15.84,8.12,79.14,...,1.16,10350.97,33.30,2694.83,14787104.01,36.83,74.10,25.90,20.19,0.0
1992,(주)세화피앤씨,252500,2019-12-01,2016-11-02,NaN,5,화학물질 및 화학제품 제조업; 의약품 제외,5.48,-6.84,-33.08,...,1.38,16584.77,44.85,3885.12,23692524.30,46.78,54.76,45.24,33.12,0.0
1993,(주)세화피앤씨,252500,2020-12-01,2016-11-02,NaN,5,화학물질 및 화학제품 제조업; 의약품 제외,25.20,-2.01,-0.30,...,1.25,17556.71,37.48,5046.89,25081011.96,41.47,54.51,45.49,35.35,0.0

In [ ]:
for i in d.index:
    if len(d.loc[i,"거래소코드"])== 2:
        print(i)

In [ ]:
#회사명 추출
c = data["회사명"].unique()
c = pd.DataFrame(c)
c.columns=["회사명"]
len(c)

1399

In [ ]:
#데이터프레임 일치화
a["회사명"] = c["회사명"]

In [ ]:
# 코드와 회사명
a

       거래소코드         회사명
0     058820    (주)CMG제약
1     050120     (주)ES큐브
2     079940      (주)가비아
3     217730  (주)강스템바이오텍
4     114190    (주)강원에너지
...      ...         ...
1394  192410   휴림네트웍스(주)
1395  090710     휴림로봇(주)
1396  205470     휴마시스(주)
1397  145020       휴젤(주)
1398  024060     흥구석유(주)

[1399 rows x 2 columns]

In [ ]:
fdr.DataReader("058820","2011-01-01", "2021-12-31")

            Open  High   Low  Close   Volume    Change
Date
2011-01-03  1426  1440  1392   1394   439492 -0.023125
2011-01-04  1417  1417  1325   1329   671688 -0.046628
2011-01-05  1333  1351  1260   1321   470690 -0.006020
2011-01-06  1287  1333  1276   1333   422197  0.009084
2011-01-07  1300  1363  1287   1319   167534 -0.010503
...          ...   ...   ...    ...      ...       ...
2021-12-24  3760  3780  3710   3720   322797 -0.009321
2021-12-27  3720  3975  3720   3910  3047519  0.051075
2021-12-28  3895  3935  3835   3890  1171808 -0.005115
2021-12-29  3890  3990  3820   3830  1079522 -0.015424
2021-12-30  3845  3850  3790   3835   469510  0.001305

[2711 rows x 6 columns]

In [ ]:
a.loc[1,"거래소코드"]

'050120'

In [ ]:
# 코스닥 개별기업들의 일자별 주가 추출
b=[]
for i in a.index:
    df = fdr.DataReader(str(a.loc[i,"거래소코드"]),"2011-01-01", "2021-12-31")
    b.append(df)

In [ ]:
# 각 인덱스에 회사명이랑 거래소코드 넣어주기
for i in a.index:
    b[i]["거래소코드"]=a.loc[i,"거래소코드"]
    b[i]["회사명"] =a.loc[i,"회사명"]

In [ ]:
# 기업별 데이터프레임 합하기
data_all = pd.concat(b)

In [ ]:
data_all

            Open  High   Low  Close    Volume    Change   거래소코드       회사명
Date
2011-01-03  1426  1440  1392   1394    439492 -0.023125  058820  (주)CMG제약
2011-01-04  1417  1417  1325   1329    671688 -0.046628  058820  (주)CMG제약
2011-01-05  1333  1351  1260   1321    470690 -0.006020  058820  (주)CMG제약
2011-01-06  1287  1333  1276   1333    422197  0.009084  058820  (주)CMG제약
2011-01-07  1300  1363  1287   1319    167534 -0.010503  058820  (주)CMG제약
...          ...   ...   ...    ...       ...       ...     ...       ...
2021-12-24  7000  8450  6890   7550  10615180  0.083214  024060   흥구석유(주)
2021-12-27  7270  7290  6960   6980   1037631 -0.075497  024060   흥구석유(주)
2021-12-28  7080  7520  7060   7160   2100701  0.025788  024060   흥구석유(주)
2021-12-29  7160  7700  7100   7230   2085674  0.009777  024060   흥구석유(주)
2021-12-30  7350  7370  7160   7160    344290 -0.009682  024060   흥구석유(주)

[2962941 rows x 8 columns]

In [ ]:
data_all=data_all.reset_index()
data_all

,Date,Open,High,Low,Close,Volume,Change,거래소코드,회사명
0,2011-01-03,1426,1440,1392,1394,439492,-0.023125,058820,(주)CMG제약
1,2011-01-04,1417,1417,1325,1329,671688,-0.046628,058820,(주)CMG제약
2,2011-01-05,1333,1351,1260,1321,470690,-0.006020,058820,(주)CMG제약
3,2011-01-06,1287,1333,1276,1333,422197,0.009084,058820,(주)CMG제약
4,2011-01-07,1300,1363,1287,1319,167534,-0.010503,058820,(주)CMG제약
...,...,...,...,...,...,...,...,...,...
2962936,2021-12-24,7000,8450,6890,7550,10615180,0.083214,024060,흥구석유(주)
2962937,2021-12-27,7270,7290,6960,6980,1037631,-0.075497,024060,흥구석유(주)
2962938,2021-12-28,7080,7520,7060,7160,2100701,0.025788,024060,흥구석유(주)
2962939,2021-12-29,7160,7700,7100,7230,2085674,0.009777,024060,흥구석유(주)
2962940,2021-12-30,7350,7370,7160,7160,344290,-0.009682,024060,흥구석유(주)

In [ ]:
data_all.to_csv("./데이터/일일주식데이터.csv", encoding='cp949')

In [ ]:
# 코스닥 데이터 추출

In [7]:
df = fdr.DataReader("KQ11","2011")  
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2011-01-03,515.710022,518.059998,514.510010,518.049988,518.049988,579800.0
2011-01-04,520.739990,522.340027,519.289978,521.349976,521.349976,726900.0
2011-01-05,522.159973,524.409973,519.929993,523.809998,523.809998,640400.0
2011-01-06,527.820007,529.869995,524.440002,527.640015,527.640015,793900.0
2011-01-07,530.750000,531.280029,529.869995,530.840027,530.840027,657500.0
...,...,...,...,...,...,...
2023-04-27,831.890015,850.880005,823.190002,850.210022,850.210022,1500.0
2023-04-28,860.109985,860.109985,839.669983,842.830017,842.830017,1200.0
2023-05-02,845.179993,855.609985,844.679993,855.609985,855.609985,1000.0
2023-05-03,848.049988,852.229980,841.809998,843.179993,843.179993,1172700.0
2023-05-04,842.130005,847.690002,839.080017,845.059998,845.059998,1200.0

In [8]:
df["수익률"] = df["Close"].pct_change()

In [10]:
df.to_csv("./데이터/1. 코스닥 데이터.csv",encoding='cp949')